<script>
export let solid = false;
export let disabled = false;
export let small = false;
</script>

{#if solid}
<svg xmlns="http://www.w3.org/2000/svg" class="fill-current" class:hover:opacity-50={!disabled && !small}
class:w-10={!small} class:h-10={!small} class:w-6={small} class:h-6={small}
class:text-gray-300={disabled} class:text-black={!disabled}
viewBox="0 0 24 24"><path d="M6 7C5.447 7 5 7 5 7v13c0 1.104.896 2 2 2h10c1.104 0 2-.896 2-2V7c0 0-.447 0-1 0H6zM16.618 4L15 2 9 2 7.382 4 3 4 3 6 8 6 16 6 21 6 21 4z"/></svg>
{:else}
<svg xmlns="http://www.w3.org/2000/svg" class="fill-current" class:hover:opacity-50={!disabled && !small}
class:w-10={!small} class:h-10={!small} class:w-6={small} class:h-6={small}
class:text-gray-300={disabled} class:text-black={!disabled}
viewBox="0 0 24 24"><path d="M15,2H9C7.897,2,7,2.897,7,4v2H3v2h2v12c0,1.103,0.897,2,2,2h10c1.103,0,2-0.897,2-2V8h2V6h-4V4C17,2.897,16.103,2,15,2z M9,4h6v2H9V4z M17,20H7V8h1h8h1V20z"/></svg>
{/if}