<script>

  import Filter from './Filter.svelte'
  import FilmCard from './FilmCard.svelte'
  import Waiting from './Waiting.svelte'
  import { onMount } from 'svelte';
  import { showBlocklist, showWatchlist, showUntagged } from './stores.js';
  import { getFilms, LOCAL_STORAGE_MODE } from './api.js';
  import { preloadImage } from './utils.js';

  let films = [];
  let loaded = false;

	onMount(async () => {
    let staging = await getFilms();
    await preloadImages(staging);
    films = staging
    loaded = true;
  });

  function preloadImages(films) {
    let queue = [];
    films.forEach(function(film) {
      queue.push(preloadImage(film.nziff_image))
      if (film.tmdb_poster_image) {
        queue.push(preloadImage(film.tmdb_poster_image))
      }
    });
    return Promise.all(queue)
  }

  $: films_filtered = films.filter(function(film) {
    let hidden = (
        film._blocklist && !$showBlocklist ||
        film._watchlist && !$showWatchlist ||
        (!film._watchlist && !film._blocklist && !$showUntagged)
      );
    if (hidden) {
      return false;
    }
    return true;
  });

  function handleFilmChange(event) {
    films = films;
  }

</script>

<style global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

	body {
    background-color:#333;
  }
</style>

<div class="max-w-screen-xl mx-auto bg-gray-100 flex flex-col min-h-screen">
	<div class="flex h-32 items-center justify-between">
    <div>
      <h1 class="text-3xl md:text-5xl font-bold ml-4">NZIFF Picker</h1>
      {#if LOCAL_STORAGE_MODE }<div class="ml-4 font-bold">local storage mode</div>{/if}
    </div>
    {#if films}<Filter {films} />{/if}
  </div>
	<div class="films flex-grow flex flex-col">
		{#each films_filtered as film (film._id)}
			<FilmCard {film} on:filmchange={handleFilmChange}/>
		{:else}
      {#if !loaded }
			<div class="flex-grow flex items-center justify-center">
        <div class="font-bold text-4xl flex items-center">
          <span class="mr-8">Loading</span>
          <Waiting classes="text-red-500 w-20"/>
        </div>
      </div>
      {:else}
			<div class="flex-grow flex items-center justify-center">
        <div class="font-bold text-4xl">No films matching</div>
      </div>
      {/if}
		{/each}
	</div>
</div>