<script>
  import {capitalize} from './utils.js'

  import HeartIcon from './icons/Heart.svelte'
  import TrashIcon from './icons/Trash.svelte'
  import UserIcon from './icons/User.svelte'

  import { saveChoice } from './api.js';
  import { preloadImage } from './utils.js'

  import { createEventDispatcher } from 'svelte';

  import { fade, fly, scale } from 'svelte/transition';

  import { flip } from 'svelte/animate';

	const dispatch = createEventDispatcher();

  export let film;

  const MAX_META = 1;
  const MAX_META_CONDENSED = 2

  let metadata_keys = [
    'languages',
    'countries',
    'genres',
    'directors',
    'screenplay',
    'photography',
  ];

  let review_keys = [
    {
      required: ['imdb_rating', 'imdb_url'],
      label: 'IMDb',
      image: 'img/imdb.png',
      votes_key: 'imdb_rating_votes',
      rating_key: 'imdb_rating',
      url: 'imdb_url',
    },
    {
      required: ['tmdb_rating', 'tmdb_url'],
      label: 'TMDb',
      image: 'img/tmdb.png',
      votes_key: 'tmdb_rating_votes',
      rating_key: 'tmdb_rating',
      url: 'tmdb_url',
    },
    {
      required: ['metascore_rating'],
      label: 'Metascore',
      rating_key: 'metascore_rating',
      image: 'img/metacritic.png',
    },
    {
      required: ['tmdb_popularity'],
      label: 'Popularity',
      rating_key: 'tmdb_popularity',
      image: 'img/flame.png',
    },
  ]
  let link_keys = [
    {
      required: ['trailer_url'],
      label: 'Trailer',
      image: 'img/trailer.png',
      render_value: (film) => "Trailer",
      url: 'trailer_url',
    },
  ]

  function has_required_keys(film, required) {
    return required.reduce(function(result, key) {
      return result && (key in film);
    }, true)
  }

  let url_keys = [
    {name: 'imdb_url', label: 'IMDb', image: 'img/imdb.png'},
    {name: 'tmdb_url', label: 'TMDb', image: 'img/tmdb.png'},
    {name: 'nziff_url', label: 'NZIFF', image: 'img/nziff.png'},
    {name: 'trailer_url', label: 'Trailer', image: 'img/trailer.png'},
  ]

  let join_keys = ['genres', 'countries', 'languages']

  function summarise_meta(key, meta) {
    function abbreviate(meta, max_meta) {
      if (meta.length > max_meta) {
        let original_length = meta.length;
        meta = meta.slice(0, max_meta);
        meta[meta.length - 1] += ' + ' + (original_length - max_meta).toString();
      }
      return meta
    }
    if (join_keys.includes(key)) {
      meta = abbreviate(meta, MAX_META_CONDENSED)
      meta = [meta.join(', ')]
    } else {
      meta = abbreviate(meta, MAX_META)
    }
    return meta;
  }

  async function toggleState(label) {
    let key = '_' + label;
    film[key] ^= true
    await saveChoice(film, label);

    dispatch('filmchange', {
      'type': label,
      'key': key,
      'value': film[key],
      'film': film,
    });
  }

</script>

<style>
.category {
  background-color: white;
  color: black;
}
</style>

<div class="flex mt-1 flex-col md:flex-row"
     class:bg-gray-200={film._blocklist} class:text-gray-500={film._blocklist} >
  <!-- start left color indicator / images -->
  <div class="relative pl-4 w-full md:w-1/3 md:min-w-1/3 overflow-hidden"
       class:bg-red-500={film._watchlist} class:h-80={!film._blocklist}
       class:bg-gray-700={film._blocklist}>
    <a class="w-full h-full" href={film.nziff_url} rel="noreferrer noopener" target="_blank">
    <div class="z-10 absolute top-0 mt-4 px-2 py-1 font-bold uppercase text-xs category"
         class:hidden={film._blocklist}>
      {film.category}
    </div>
    <div class="absolute top-0 right-0 mt-4 mr-4 z-20 text-white flex"
        class:hidden={film._blocklist}>
      {#each film.session_dates as session}
      <div class="flex-col flex items-center justify-center text-center ml-2 px-2 py-1 bg-black">
        <div class="text-xs font-bold uppercase">{session.month}</div>
        <div class="text-normal font-bold ">{session.day}</div>
      </div>
      {/each}
    </div>

    <img class="block absolute w-full h-full pl-6 object-cover"
         class:opacity-25={film._blocklist} src={film.nziff_image} alt="NZIFF cover">
    {#if film.tmdb_poster_image}
      <img class="block relative z-10 mt-4 t-0 r-0 w-32 md:w-32 h-full object-contain"
           class:hidden={film._blocklist}
           src={film.tmdb_poster_image} alt="Poster">
    {/if}
    </a>
  </div>
  <!-- end left color indicator / images -->
  <!-- start info block -->
  <div class="flex flex-col flex-grow ml-6 my-4">
    <!-- start title header block -->
    <div class="flex justify-between">
      <div class="font-bold">
        <a href={film.nziff_url} rel="noreferrer noopener" target="_blank"><h2 class="text-2xl hover:underline" >{film.title}</h2></a>
        <div class="flex text-sm pt-1 pb-4" class:hidden={film._blocklist}>
          <span class="mr-2">{film.year}</span>
          <span class="mr-2">|</span>
          <span>{film.duration} mins</span>
          {#if film.trailer_url}
            <span class="ml-2 mr-2">|</span>
            <a class="text-sm font-bold flex items-center mb-2 mr-4" rel="noreferrer noopener" target="_blank" href={film.trailer_url}>
              <img class="h-4 w-4 mr-1" src="img/trailer.png" alt="Watch trailer">
              <div>Trailer</div>
            </a>
          {/if}
        </div>
      </div>
      <div class="flex items-start mr-4 ml-4 md:ml-0">
        <button class="mr-4" disabled={film._watchlist && !film._blocklist}
                on:click={() => toggleState('blocklist')}>
          <TrashIcon solid={film._blocklist} disabled={film._watchlist && !film._blocklist} />
        </button>
        <button disabled={film._blocklist && !film._watchlist}
                on:click={() => toggleState('watchlist')}>
          <HeartIcon solid={film._watchlist} disabled={film._blocklist && !film._watchlist} />
        </button>

      </div>
    </div>
    <!-- end title header block -->
    <!-- start bottom info block -->
    <div class="flex flex-col md:flex-row flex-grow">
      <div class="w-full md:w-1/2 md:min-w-1/2 flex flex-col justify-between">
        <!-- start description-->
        <div class:hidden={film._blocklist}>
          <div class="text-sm">{film.description}</div>
          {#if film.awards}
          <div class="text-sm font-bold mt-4">
            🏆 <span class="ml-1">{film.awards}</span>
          </div>
          {/if}
        </div>
        <!-- end description -->
      </div>
      <div class="flex-1 md:ml-12">
        <!-- start meta -->
        <table class="text-sm my-4 md:my-0" class:hidden={film._blocklist}>
        {#each metadata_keys as key}
          {#if film[key]}
            <tr>
              <td class="font-bold align-top pr-4">{capitalize(key)}</td>
              <td class="flex flex-col">
                {#each summarise_meta(key, film[key]) as item}
                  <div>{item}</div>
                {/each}
              </td>
            </tr>
          {/if}
        {/each}
        </table>
        <!-- end meta -->
      </div>
    </div>
    <div class="flex flex-col md:flex-row items-center">
    <!-- start certification -->
      <div class="flex w-full md:w-1/2 md:min-w-1/2" class:hidden={film._blocklist}>
        <div class="text-lg font-bold bg-black text-white px-4 py-2"
              class:bg-gray-500={film._blocklist}>{film.certification}</div>
        {#if film.certification_notes}
          <div class="text-xs pl-4 pr-6 py-2 bg-gray-300 flex items-center justify-center">{film.certification_notes}</div>
        {/if}
      </div>
    <!-- end certification -->
      <div class="flex md:ml-12 items-start font-bold text-sm w-full md:w-1/2 md:min-w-1/2">
        <div class="flex my-4 md:my-0" class:hidden={film._blocklist}>
        {#each review_keys as item}
          {#if has_required_keys(film, item.required)}
            <a class="flex items-center mb-2 mr-2" rel="noreferrer noopener" target="_blank" href={film[item.url]} class:hover:opacity-50={film[item.url] != undefined}>
              <img class="h-8 w-8 mr-2" src={item.image} alt={item.label}>
              <div class="flex flex-col leading-none">
                <div>{film[item.rating_key]}</div>
                {#if item.votes_key}
                  <div class="flex items-center mt-1 font-normal text-xs">{film[item.votes_key]}<UserIcon /></div>
                {/if}
              </div>
            </a>
          {/if}
        {/each}
        </div>
      </div>
    </div>
  </div>
</div>