<script>

import { showBlocklist, showWatchlist, showUntagged } from './stores.js';
import HeartIcon from './icons/Heart.svelte'
import TrashIcon from './icons/Trash.svelte'
import UserIcon from './icons/User.svelte'

function toggleWatchlist(e) {
    showWatchlist.update(x => e.target.checked)
}

function toggleUntagged(e) {
    showUntagged.update(x => e.target.checked)
}

function toggleBlocked(e) {
    showBlocklist.update(x => e.target.checked)
}

export let films;

$: countWatchlist = films.map(film => film._watchlist).filter(x => x).length
$: countBlocklist = films.map(film => film._blocklist).filter(x => x).length
$: countUntagged = films.map(film => !film._watchlist && !film._blocklist).filter(x => x).length

</script>


<div class="flex items-center font-bold">
    <div class="mr-4">Show:</div>
    <div class="inline-block mr-6 flex items-center">
        <input class="text-2xl" type="checkbox" on:click={toggleBlocked} checked={$showBlocklist}>
        <span class="ml-1"><TrashIcon small={true} solid={true} /></span>
        <span class="ml-1">{countBlocklist}</span>

    </div>
    <div class="inline-block mr-6 flex items-center">
        <input class="text-2xl" type="checkbox" on:click={toggleWatchlist} checked={$showWatchlist}>
        <span class="ml-1"><HeartIcon small={true} solid={true} /></span>
        <span class="ml-1">{countWatchlist}</span>
    </div>
    <div class="inline-block mr-6 flex items-center">
        <input class="text-2xl" type="checkbox" on:click={toggleUntagged} checked={$showUntagged}>
        <span class="ml-1 font-bold">—</span>
        <span class="ml-1">{countUntagged}</span>
    </div>
</div>