<script>

export let films;

$: countWatchlist = films.map(film => film._watchlist).filter(x => x).length
$: countBlocklist = films.map(film => film._blocklist).filter(x => x).length
$: countUntagged = films.map(film => !film._watchlist && !film._blocklist).filter(x => x).length

import HeartIcon from './icons/Heart.svelte'
import TrashIcon from './icons/Trash.svelte'
import UserIcon from './icons/User.svelte'

</script>


<div class="flex font-bold ">
    <div class="flex"><span class="mr-1">{countWatchlist}</span><HeartIcon small={true} solid={true} /></div>
    <div class="flex ml-4"><span class="mr-1">{countBlocklist}</span><TrashIcon small={true} solid={true} /></div>
    <div class="flex ml-4">{countUntagged} untagged</div>
</div>